/** @format */

:root {
  --offwhite: #faf9f6;
  --TextColour: var(--offwhite);
  --LightColour: #5fcdd9;
  --baseColour: #ffffff;
  --darkColour: #027373;
  --BaseFontSize: 16px;
  --BaseFontFamily: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--BaseFontSize);
  font-family: var(--BaseFontFamily);
  color: var(--TextColour);
  background-color: #063636;
}

.inner {
  max-width: 1200px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: stretch;
  justify-content: center;
  justify-items: center;
}

header {
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding: 1em;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

a {
  color: var(--offwhite);
}

h1 {
  font-size: 2.5em;
  color: var(--offwhite);
  margin-bottom: 0.5em;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 1em;
}

ul {
    margin-left: 1em;
    margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

input,
textarea {
  padding: 1em 0.5em;
  height: 1.3em;
  display: inline-block;
  margin: 0;
  font-size: 1em;
  width: 100%;
}

section#home {
  background-size: cover;
  background-position: bottom center;
  background-color: #172026;
  background-image: url("../images/Background/homeBackgroundM.jpg");
  background-image: -webkit-image-set(
    url("../images/Background/homeBackgroundM.avif") type ("image/avif"),
    url("../images/Background/homeBackgroundM.jpg") type ("image/jpeg")
  );
  background-image: image-set(
    url("../images/Background/homeBackgroundM.avif") type ("image/avif"),
    url("../images/Background/homeBackgroundM.jpg") type ("image/jpeg")
  );
  display: grid;
  align-items: center;
}

@media screen and (min-height: 640px), screen and (min-width: 640px) {
  section#home {
    background-image: url("../images/Background/homeBackgroundM.jpg");
    background-image: -webkit-image-set(
      url("../images/Background/homeBackgroundM.avif") type ("image/avif"),
      url("../images/Background/homeBackgroundM.jpg") type ("image/jpeg")
    );
    background-image: image-set(
      url("../images/Background/homeBackgroundM.avif") type ("image/avif"),
      url("../images/Background/homeBackgroundM.jpg") type ("image/jpeg")
    );
  }
}

@media screen and (min-width: 1920px) {
  section#home {
    background-image: url("../images/Background/homeBackgroundM.jpg");
    background-image: -webkit-image-set(
      url("../images/Background/homeBackgroundM.avif") type ("image/avif"),
      url("../images/Background/homeBackgroundM.jpg") type ("image/jpeg")
    );
    background-image: image-set(
      url("../images/Background/homeBackgroundM.avif") type ("image/avif"),
      url("../images/Background/homeBackgroundM.jpg") type ("image/jpeg")
    );
  }
}

@media screen and (min-width: 2400px) {
  section#home {
    background-image: url("../images/Background/homeBackgroundS.jpg");
    background-image: -webkit-image-set(
      url("../images/Background/homeBackgroundS.avif") type ("image/avif"),
      url("../images/Background/homeBackgroundS.jpg") type ("image/jpeg")
    );
    background-image: image-set(
      url("../images/Background/homeBackgroundS.avif") type ("image/avif"),
      url("../images/Background/homeBackgroundS.jpg") type ("image/jpeg")
    );
  }
}

section#home .nextArrow {
  position: absolute;
  text-align: center;
  font-size: 2em;
  bottom: 1em;
  right: 1em;
  left: 1em;
  transition: all 300ms ease-in-out;
}
section#home .nextArrow:hover {
  font-size: 2.2em;
}

p.subheading {
  font-size: 1.25em;
  padding: 0.5em;
}

.socials a i {
  font-size: clamp(50px, 10vw, 100px);
  padding: 0 0.25em;
  transition: transform 300ms ease-in-out;
}

.socials a:hover i {
  transform: scale(1.1);
}

section#Privacy {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: left;
    justify-content: left;
    align-items: flex-start;
}