:root {
    --TextColour: #172026;
    --LightBaseColour: #5FCDD9;
    --DarkestBaseColour: #027373;
    --BaseColour: #04BFAD;
    --DarkBaseColour: #04BF9D;
    --BaseFontSize: 14px;
    --BaseFontFamily: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--BaseFontSize);
    font-family: var(--BaseFontFamily);
    color: var(--TextColour);
}



/* Add a black background color to the top navigation */
nav {
    background-image: linear-gradient(to right, var(--BaseColour), var(--LightBaseColour));
    display: flex;
    justify-content: right;
}

nav a {
    display: block;
    color: var(--TextColour);
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--BaseColour);
    color: #ffffff;
}

nav a.active {
    background-color: var(--DarkestBaseColour);
    color: white;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    color: var(--TextColour);
}

.socials {
    font-size: 5em;
}

.socials a {
    color: var(--DarkBaseColour);
    padding:1em .5em;
}