:root {
    --offwhite: #FAF9F6;
    --TextColour: #172026;
    --LightColour: #5FCDD9;
    --baseColour:#ffffff;
    --darkColour: #027373;
    --BaseFontSize: 16px;
    --BaseFontFamily: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--BaseFontSize);
    font-family: var(--BaseFontFamily);
    color: var(--TextColour);
    background-color: var(--offwhite);
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1.title {
    font-size: 2.5em;
    color: var(--darkColour);
    border-bottom:5px solid;
    padding: 0;
    margin: 0;
}

p.subheading {
    font-size: 1.25em;
    margin: 0;
    padding: 0.5em;
}

.socials h2 {
    text-align: center;
}

.socials a {
    font-size: 10vw;
    color: var(--LightColour);
    padding: 0 .25em;
    transition: color .5s ease-in-out;
}

.socials a:hover {
    color: var(--darkColour);
}

.swiper{
    max-width: 600px;
}

.swiper img{
    max-width: 100%;
}